<h1>My Contacts</h1>
<a href="/new_contact">Add a contact</a>

<% @contacts.each do |contact| %>
  <% if @remaining.include?(contact[:name][0].upcase)  %>
    <h3><%= contact[:name][0].upcase %></h3>
    <% @remaining.delete(contact[:name][0].upcase)%>
  <% end %>
  <div>
    <a href="/contacts/<%= contact[:id] %>"><%= contact[:name] %></a>
  </div>
<% end %>
