<form method="post" action="/new_contact">
<div>
  <label>Name:</label>
  <input type="" name="name">
</div>
<div>
  <label>Phone Number:</label>
  <input type="" name="phone">
</div>
<div>
  <label>Email Address:</label>
  <input type="" name="email">
</div>
<button type="submit">Add Contact</button>
</form>
